/* ===== RESET & BASE ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== FORM CONTAINER ===== */
.container {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 30px 35px;
  border-radius: 14px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.6s ease;
}

/* ===== HEADINGS ===== */
.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* =====FORM ===== */
form {
  margin-bottom: 16px;
}

form label {
  display: block;
  margin-block: 10px;
  font-size: 14px;
  color: #555;
}

form input {
  width: 100%;
  padding: 11px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  transition: 0.3s;
}

form input:focus {
  border-color: #667eea;
  outline: none;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.15);
}

/* ===== BUTTON ===== */
.logout-btn,
button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 20px;
  text-decoration: none;
}

.logout-btn,
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(118, 75, 162, 0.35);
}

/* ===== TEXT LINKS ===== */
.container p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.container a {
  color: #667eea;
  text-decoration: none;
  font-weight: 600;
}

.container a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

/* ===== ERRORS ===== */
.error {
  background: #ffe0e0;
  color: #b00020;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}

.success {
  color: green;
}

/* ===== ANIMATION ===== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== DASHBOARD ===== */
.dashboard {
  background: #ffffff;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.6s ease;
}

.dashboard h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

.dashboard p {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
}

.dashboard strong {
  color: #667eea;
}

/* ===== SUCCESS MESSAGE ===== */
.success {
  background: #e6fffa;
  color: #047857;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}
